h1{
    color: orange;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
}

img{
    margin-bottom: 50px;
    margin-left: 25px;
}
p{
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
    color: orange;
    margin-bottom: 10px;
}